body{
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center {
    margin-left: auto;
    margin-right: auto;
}

h1{
    position: relative;
    animation: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.cards {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
  
  /* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}
  
  /* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.carousel,.item,.active{
    height:100%;
    width: 200px;
}
.carousel-inner{
     height:100%;
}


.auto-style1 {
            width: 91%;
        }
        .auto-style2 {
            text-align: center;
            width: 1122px;
        }
        .auto-style3 {
            width: 30px;
            background-color: lightpink;
            text-align: center;
        }
        .auto-style4 {
            width: 35px;
        }
        .auto-style5 {
            width: 36px;
        }
        .auto-style6 {
            width: 30px;
            height: 34px;
        }
        .auto-style7 {
            width: 36px;
            height: 34px;
        }
        .auto-style8 {
            width: 35px;
            height: 34px;
        }
        .auto-style10 {
            width: 32px;
        }
        .auto-style11 {
            width: 32px;
            height: 34px;
        }
        .auto-style12 {
            width: 34px;
        }
        .auto-style13 {
            width: 34px;
            height: 34px;
        }
        .nuevoEstilo1 {
            border-top-style: solid;
        }
        .auto-style14 {
            width: 35px;
            height: 34px;
            text-align: center;
        }
        .auto-style15 {
            width: 35px;
            text-align: center;
        }
        .auto-style16 {
            text-align: center;
        }
        .auto-style17 {
            width: 34px;
            text-align: center;
        }
        .auto-style18 {
            width: 32px;
            text-align: center;
        }
        .auto-style19 {
            width: 36px;
            text-align: center;
        }
        .highlighted {
            background-color:grey;
        }



.cooltable
{ 
    background: rgba(250, 250, 255, 0.148438);	 
    width: 80%; 
    margin: 5% 5%; 
    padding: 12px; 
    border: solid 2px #fff; 
    -webkit-border-radius: 8px; 
    -moz-border-radius: 8px; 
    border-radius: 8px; 
    -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 16px; 
    -moz-box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 16px; 
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 16px; 

} 